<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headerFragment">
    <title>Messages : View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="form.html" th:href="@{/(form)}">Create Message</a>
    </div>
    <h4 class="float-left mt-2">Messages : View all</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${found}">
            <td colspan="3">No messages</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>