<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: headerFragment">
    <title>Disks : view of list</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="newDisk.html" th:href="@{/(newDisk)}">Create New Disk</a>
    </div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="newUser.html" th:href="@{/(newUser)}">Create New User</a>
    </div>
    <h4 class="float-left mt-2">Disks : View all</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Holder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${found}">
            <td colspan="3">No messages</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>